In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Conocer el directorio de trabajo
os.getcwd()

'C:\\Users\\ydmar\\OneDrive\\Documentos\\CurosCienciasDatos\\01 - Mineria de datos'

In [3]:
# Cambiar directorio de trabajo
os.chdir('BasesDatos/datosSucios/')

# Introducción a pandas

### Contrucción base de datos de prueba

In [4]:
df_estudiantes = {
    'id_estudiente':list(range(1, 11)),
    'materia':['matematica', 'español', 'español', 'español',
               'ciencias', 'matematica', 'matematica', 'español',
               'ciencias', 'sociales'],
    'nota':[3.5, 4.5, 4, 2.5, 2.8, 3.9, 5, 4.3, 3.2, 4.1]
}

In [5]:
df_estudiantes = pd.DataFrame(df_estudiantes)

In [6]:
df_estudiantes

   id_estudiente     materia  nota
0              1  matematica   3.5
1              2     español   4.5
2              3     español   4.0
3              4     español   2.5
4              5    ciencias   2.8
5              6  matematica   3.9
6              7  matematica   5.0
7              8     español   4.3
8              9    ciencias   3.2
9             10    sociales   4.1

In [ ]:
dtypes,shape head

### Seleccionar columnas de la base de datos

In [7]:
# Selección columnas materia y nota
df_estudiantes[['materia', 'nota']].head()

      materia  nota
0  matematica   3.5
1     español   4.5
2     español   4.0
3     español   2.5
4    ciencias   2.8

In [8]:
# Seleccionar estudiantes con notas mayores a 3.5
df_estudiantes[df_estudiantes['nota']>3.5]

   id_estudiente     materia  nota
1              2     español   4.5
2              3     español   4.0
5              6  matematica   3.9
6              7  matematica   5.0
7              8     español   4.3
9             10    sociales   4.1

In [9]:
# Seleccionar estudiantes con notas mayores a 3.5 o menor a 2.6
df_estudiantes[(df_estudiantes['nota']>3.5) | (df_estudiantes['nota']<2.6)]

   id_estudiente     materia  nota
1              2     español   4.5
2              3     español   4.0
3              4     español   2.5
5              6  matematica   3.9
6              7  matematica   5.0
7              8     español   4.3
9             10    sociales   4.1

In [10]:
# 
df_estudiantes[~(df_estudiantes['nota']>3.5)]

   id_estudiente     materia  nota
0              1  matematica   3.5
3              4     español   2.5
4              5    ciencias   2.8
8              9    ciencias   3.2

In [11]:
df_estudiantes[(df_estudiantes['nota'] != 3.5)]

   id_estudiente     materia  nota
1              2     español   4.5
2              3     español   4.0
3              4     español   2.5
4              5    ciencias   2.8
5              6  matematica   3.9
6              7  matematica   5.0
7              8     español   4.3
8              9    ciencias   3.2
9             10    sociales   4.1

In [12]:
df_estudiantes.iloc[1:5, 2]

1    4.5
2    4.0
3    2.5
4    2.8
Name: nota, dtype: float64

In [13]:
df_estudiantes.loc[:, 'materia':]

      materia  nota
0  matematica   3.5
1     español   4.5
2     español   4.0
3     español   2.5
4    ciencias   2.8
5  matematica   3.9
6  matematica   5.0
7     español   4.3
8    ciencias   3.2
9    sociales   4.1

In [14]:
df_estudiantes.groupby(['materia'])['nota'].mean()

materia
ciencias      3.000000
español       3.825000
matematica    4.133333
sociales      4.100000
Name: nota, dtype: float64

In [15]:
grupo = df_estudiantes.groupby(['materia'])

In [16]:
for llave, valores in grupo.groups.items():
    print(llave, " ", list(valores))

ciencias   [4, 8]
español   [1, 2, 3, 7]
matematica   [0, 5, 6]
sociales   [9]

In [17]:
grupo.get_group('español')

   id_estudiente  materia  nota
1              2  español   4.5
2              3  español   4.0
3              4  español   2.5
7              8  español   4.3

In [18]:
grupo.groups

{'ciencias': Int64Index([4, 8], dtype='int64'),
 'español': Int64Index([1, 2, 3, 7], dtype='int64'),
 'matematica': Int64Index([0, 5, 6], dtype='int64'),
 'sociales': Int64Index([9], dtype='int64')}

In [19]:
grupo['nota']

In [20]:
grupo['nota'].aggregate( [np.mean, np.median])

                mean  median
materia
ciencias    3.000000    3.00
español     3.825000    4.15
matematica  4.133333    3.90
sociales    4.100000    4.10

In [23]:
grupo.agg({'nota':[np.mean, np.var]})

                nota
                mean       var
materia
ciencias    3.000000  0.080000
español     3.825000  0.822500
matematica  4.133333  0.603333
sociales    4.100000       NaN

In [24]:
df_estudiantes

   id_estudiente     materia  nota
0              1  matematica   3.5
1              2     español   4.5
2              3     español   4.0
3              4     español   2.5
4              5    ciencias   2.8
5              6  matematica   3.9
6              7  matematica   5.0
7              8     español   4.3
8              9    ciencias   3.2
9             10    sociales   4.1

In [25]:
df_info_materia = pd.DataFrame({
    'materia':['matematica', 'español',
               'ciencias', 'sociales'],
    'informacion_materia':['complicada', 'interesante', 'ecologico', 'geografico']
})

In [28]:
df_info_materia = df_info_materia.set_index('materia')

In [30]:
df_estudiantes = df_estudiantes.set_index('materia')

In [32]:
df_join = df_estudiantes.join(df_info_materia)

In [33]:
df_join

            id_estudiente  nota informacion_materia
materia
ciencias                5   2.8           ecologico
ciencias                9   3.2           ecologico
español                 2   4.5         interesante
español                 3   4.0         interesante
español                 4   2.5         interesante
español                 8   4.3         interesante
matematica              1   3.5          complicada
matematica              6   3.9          complicada
matematica              7   5.0          complicada
sociales               10   4.1          geografico

In [34]:
df_join.index

Index(['ciencias', 'ciencias', 'español', 'español', 'español', 'español',
       'matematica', 'matematica', 'matematica', 'sociales'],
      dtype='object', name='materia')

In [35]:
df_join.reset_index()

      materia  id_estudiente  nota informacion_materia
0    ciencias              5   2.8           ecologico
1    ciencias              9   3.2           ecologico
2     español              2   4.5         interesante
3     español              3   4.0         interesante
4     español              4   2.5         interesante
5     español              8   4.3         interesante
6  matematica              1   3.5          complicada
7  matematica              6   3.9          complicada
8  matematica              7   5.0          complicada
9    sociales             10   4.1          geografico

In [68]:
df_join.reset_index().apply(lambda x: x[0][0:3], axis = 1)

0    cie
1    cie
2    esp
3    esp
4    esp
5    esp
6    mat
7    mat
8    mat
9    soc
dtype: object

In [69]:
df_join.reset_index().apply(lambda x: x[0], axis = 0)

materia                 ciencias
id_estudiente                  5
nota                         2.8
informacion_materia    ecologico
dtype: object

In [70]:
df_join.reset_index().materia.apply(lambda x: x[0:3])

0    cie
1    cie
2    esp
3    esp
4    esp
5    esp
6    mat
7    mat
8    mat
9    soc
Name: materia, dtype: object

## Numpy

In [41]:
lista = [2, 3, 4, 6, 7]

In [42]:
lista_n = np.array(array_)

In [43]:
lista_n

array([2, 3, 4, 6, 7])

In [44]:
lista > 2

TypeError: '>' not supported between instances of 'list' and 'int'

In [45]:
lista_n > 2

array([False,  True,  True,  True,  True])

In [46]:
lista * 4

[2, 3, 4, 6, 7, 2, 3, 4, 6, 7, 2, 3, 4, 6, 7, 2, 3, 4, 6, 7]

In [47]:
lista_n * 4

array([ 8, 12, 16, 24, 28])

In [50]:
list(filter(lambda x: x % 2 == 0, lista_n))

[2, 4, 6]

In [52]:
list(map(lambda x: x ** 2, lista_n))

[4, 9, 16, 36, 49]

In [ ]:
np.where

# Trabajo sobre la base de datos

### Leer base de datos sobre coca

In [5]:
df_coca = pd.read_csv('Base de datos cultivos de coca 1999 a 2018 munipios de Colombia.xlsx - CultivosIlicitos.csv')

In [6]:
df_coca.head()

,CODDEPTO,DEPARTAMENTO,CODMPIO,MUNICIPIO,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),NaN,NaN,191.82,264.00,164.00,270.00,...,109.00,81.00,35.00,16.00,8.00,20.00,11.77,12.65,8.04,4.12
1,91.0,AMAZONAS,91405.0,LA CHORRERA (Cor. Departamental),NaN,NaN,65.00,236.00,209.00,271.00,...,81.00,113.00,36.00,22.00,25.00,51.00,13.61,14.09,18.20,6.04
2,91.0,AMAZONAS,91407.0,LA PEDRERA (Cor. Departamental),NaN,NaN,NaN,NaN,NaN,NaN,...,7.00,12.00,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN
3,91.0,AMAZONAS,91430.0,LA VICTORIA (Pacoa) (Cor. Departamental),NaN,NaN,NaN,NaN,NaN,NaN,...,2.00,10.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91.0,AMAZONAS,91460.0,MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental),NaN,NaN,6.00,43.00,36.18,30.00,...,4.00,15.00,NaN,5.00,NaN,NaN,NaN,NaN,NaN,NaN

### Nombres de las columnas

In [7]:
df_coca.columns.tolist()

['CODDEPTO',
 'DEPARTAMENTO',
 'CODMPIO',
 'MUNICIPIO',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

### Agregar columnas como indices

In [8]:
df_coca = df_coca.set_index(['CODDEPTO', 'DEPARTAMENTO', 'CODMPIO', 'MUNICIPIO'])

In [9]:
df_coca.head()

                                                                             1999  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 NaN
                      91405.0 LA CHORRERA (Cor. Departamental)                NaN
                      91407.0 LA PEDRERA (Cor. Departamental)                 NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)        NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)  NaN

                                                                             2000  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 NaN
                      91405.0 LA CHORRERA (Cor. Departamental)                NaN
                      91407.0 LA PEDRERA (Cor. Departamental)                 NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)        NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)  NaN

                                                                                2001  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 191.82
                      91405.0 LA CHORRERA (Cor. Departamental)                 65.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    6.00

                                                                                2002  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 264.00
                      91405.0 LA CHORRERA (Cor. Departamental)                236.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   43.00

                                                                                2003  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 164.00
                      91405.0 LA CHORRERA (Cor. Departamental)                209.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   36.18

                                                                                2004  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 270.00
                      91405.0 LA CHORRERA (Cor. Departamental)                271.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   30.00

                                                                                2005  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 382.00
                      91405.0 LA CHORRERA (Cor. Departamental)                257.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   12.00

                                                                                2006  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 233.00
                      91405.0 LA CHORRERA (Cor. Departamental)                223.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    4.00

                                                                                2007  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 186.00
                      91405.0 LA CHORRERA (Cor. Departamental)                132.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    9.00

                                                                                2008  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 349.00
                      91405.0 LA CHORRERA (Cor. Departamental)                349.00
                      91407.0 LA PEDRERA (Cor. Departamental)                    NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)           NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    2.00

                                                                                2009  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 109.00
                      91405.0 LA CHORRERA (Cor. Departamental)                 81.00
                      91407.0 LA PEDRERA (Cor. Departamental)                   7.00
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          2.00
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    4.00

                                                                                2010  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                  81.00
                      91405.0 LA CHORRERA (Cor. Departamental)                113.00
                      91407.0 LA PEDRERA (Cor. Departamental)                  12.00
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)         10.00
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   15.00

                                                                               2011  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 35.00
                      91405.0 LA CHORRERA (Cor. Departamental)                36.00
                      91407.0 LA PEDRERA (Cor. Departamental)                   NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    NaN

                                                                               2012  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 16.00
                      91405.0 LA CHORRERA (Cor. Departamental)                22.00
                      91407.0 LA PEDRERA (Cor. Departamental)                  1.00
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   5.00

                                                                               2013  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                  8.00
                      91405.0 LA CHORRERA (Cor. Departamental)                25.00
                      91407.0 LA PEDRERA (Cor. Departamental)                   NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    NaN

                                                                               2014  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 20.00
                      91405.0 LA CHORRERA (Cor. Departamental)                51.00
                      91407.0 LA PEDRERA (Cor. Departamental)                   NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    NaN

                                                                               2015  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 11.77
                      91405.0 LA CHORRERA (Cor. Departamental)                13.61
                      91407.0 LA PEDRERA (Cor. Departamental)                   NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    NaN

                                                                               2016  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 12.65
                      91405.0 LA CHORRERA (Cor. Departamental)                14.09
                      91407.0 LA PEDRERA (Cor. Departamental)                   NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    NaN

                                                                               2017  \
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                  8.04
                      91405.0 LA CHORRERA (Cor. Departamental)                18.20
                      91407.0 LA PEDRERA (Cor. Departamental)                   NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)          NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)    NaN

                                                                              2018
CODDEPTO DEPARTAMENTO CODMPIO MUNICIPIO
91.0     AMAZONAS     91263.0 EL ENCANTO (Cor. Departamental)                 4.12
                      91405.0 LA CHORRERA (Cor. Departamental)                6.04
                      91407.0 LA PEDRERA (Cor. Departamental)                  NaN
                      91430.0 LA VICTORIA (Pacoa) (Cor. Departamental)         NaN
                      91460.0 MIRITÍ-PARANÁ (Campoamor) (Cor. Departamental)   NaN

### Arreglar la base de datos

In [10]:
df_coca = df_coca.stack()

In [11]:
df_coca.head()

CODDEPTO  DEPARTAMENTO  CODMPIO  MUNICIPIO
91.0      AMAZONAS      91263.0  EL ENCANTO (Cor. Departamental)  2001    191.82
                                                                  2002    264.00
                                                                  2003    164.00
                                                                  2004    270.00
                                                                  2005    382.00
dtype: object

### Eliminar indices

In [12]:
df_coca = df_coca.reset_index()

In [13]:
df_coca.head()

,CODDEPTO,DEPARTAMENTO,CODMPIO,MUNICIPIO,level_4,0
0,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2001,191.82
1,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2002,264.00
2,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2003,164.00
3,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2004,270.00
4,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2005,382.00

### Cambiar nombres

In [14]:
df_coca.columns = ['CODDEPTO', 'DEPARTAMENTO', 'CODMPIO', 'MUNICIPIO', 'AÑO', 'TOTAL CULTIVOS']

In [15]:
df_coca.head()

,CODDEPTO,DEPARTAMENTO,CODMPIO,MUNICIPIO,AÑO,TOTAL CULTIVOS
0,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2001,191.82
1,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2002,264.00
2,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2003,164.00
3,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2004,270.00
4,91.0,AMAZONAS,91263.0,EL ENCANTO (Cor. Departamental),2005,382.00

### Automatizar lectura de archivos sobre erradicación

In [55]:
lista_area = [a for a in os.listdir() if a[13:18] == 'Aerea']
df_erradicacion = pd.DataFrame()
for l in lista_area:
    df1 = pd.read_csv(l)
    df1 = df1.set_index(['CODDEPTO', 'DEPARTAMENTO', 'CODMPIO', 'MUNICIPIO'])
    df1 = df1.stack()
    df1 = df1.reset_index()
    df1.columns = ['CODDEPTO', 'DEPARTAMENTO', 'CODMPIO', 'MUNICIPIO', 'AÑO', 'TOTAL ERRADICACIÓN']
    df_erradicacion = df_erradicacion.append(df1)
df_erradicacion.tail()

,CODDEPTO,DEPARTAMENTO,CODMPIO,MUNICIPIO,AÑO,TOTAL ERRADICACIÓN
105,95,GUAVIARE,95001,SAN JOSÉ DEL GUAVIARE,2015,812.02
106,95,GUAVIARE,95015,CALAMAR,2015,301.91
107,95,GUAVIARE,95025,EL RETORNO,2015,519.45
108,95,GUAVIARE,95200,MIRAFLORES,2015,"1,816.67"
109,99,VICHADA,99773,CUMARIBO,2015,103.06

### Join entre bases de datos coca, erradicación

In [59]:
df_coca = df_coca.set_index(['CODMPIO', 'AÑO']).join(df_erradicacion.set_index(['CODMPIO', 'AÑO'])['TOTAL ERRADICACIÓN'])

In [60]:
df_coca

              CODDEPTO DEPARTAMENTO                        MUNICIPIO  \
CODMPIO AÑO
91263.0 2001      91.0     AMAZONAS  EL ENCANTO (Cor. Departamental)
        2002      91.0     AMAZONAS  EL ENCANTO (Cor. Departamental)
        2003      91.0     AMAZONAS  EL ENCANTO (Cor. Departamental)
        2004      91.0     AMAZONAS  EL ENCANTO (Cor. Departamental)
        2005      91.0     AMAZONAS  EL ENCANTO (Cor. Departamental)
...                ...          ...                              ...
99524.0 2012      99.0      VICHADA                     LA PRIMAVERA
        2013      99.0      VICHADA                     LA PRIMAVERA
        2014      99.0      VICHADA                     LA PRIMAVERA
99624.0 2007      99.0      VICHADA                    SANTA ROSALÍA
        2009      99.0      VICHADA                    SANTA ROSALÍA

             TOTAL CULTIVOS TOTAL ERRADICACIÓN
CODMPIO AÑO
91263.0 2001         191.82                NaN
        2002         264.00                NaN
        2003         164.00                NaN
        2004         270.00                NaN
        2005         382.00                NaN
...                     ...                ...
99524.0 2012           8.00                NaN
        2013           3.00                NaN
        2014           4.00                NaN
99624.0 2007           1.00                NaN
        2009          12.00                NaN

[3766 rows x 5 columns]