# Importación de librerias

In [1]:
#! pip install PyMySQL
#! pip install pandas
# ! pip install install xlrd para poder leer archivos de excel
import pandas as pd
import pymysql
import os

In [5]:
#Saber directorio de trabajo
os.getcwd()
#cambiar directorio de trabajo
#os.chdir()

'C:\\Users\\ydmar\\OneDrive\\Documentos\\CurosCienciasDatos\\01 - Mineria de datos\\01 - Ficheros'

# Leer archivo de excel

In [13]:
db_ventas = pd.read_excel('BasesDatos/ventas.xlsx')

In [14]:
db_ventas.head()

,NoFactura,Producto,Cantidad,FechaFactura,PrecioUnidad,Pais
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,United Kingdom
1,536365,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,United Kingdom

# Leer archivo JSON

In [17]:
db_aeropuertos = pd.read_json('BasesDatos/aeropuertos.json')

In [18]:
db_aeropuertos.head()

,continent,coordinates,elevation_ft,gps_code,iata_code,ident,iso_country,iso_region,local_code,municipality,name,type
0,NA,"-74.93360137939453, 40.07080078125",11.0,00A,None,00A,US,US-PA,00A,Bensalem,Total Rf Heliport,heliport
1,NA,"-101.473911, 38.704022",3435.0,00AA,None,00AA,US,US-KS,00AA,Leoti,Aero B Ranch Airport,small_airport
2,NA,"-151.695999146, 59.94919968",450.0,00AK,None,00AK,US,US-AK,00AK,Anchor Point,Lowell Field,small_airport
3,NA,"-86.77030181884766, 34.86479949951172",820.0,00AL,None,00AL,US,US-AL,00AL,Harvest,Epps Airpark,small_airport
4,NA,"-91.254898, 35.6087",237.0,None,None,00AR,US,US-AR,None,Newport,Newport Hospital & Clinic Heliport,closed

# Leer archivo csv

In [19]:
db_ciudades = pd.read_csv('BasesDatos/majorCities.csv')

In [20]:
db_ciudades.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates    RaÊ¼s al Khaymah     291074
4     Khawr FakkÄn  United Arab Emirates       Ash ShÄriqah     291696

# Conección a MySQL

### Clase que realiza la conección y retorna la consulta

In [29]:
class DataBase:
    import pandas as pd
    
    def __init__(self):
        self.connection = pymysql.connect(
            host='localhost',
            user='root',
            password='admin',
            db='dbpendientes')
        
        self.cursor = self.connection.cursor()
        print('Conección establecida con éxito')
        
    def consulta(self, consulta):
        try:
            self.cursor.execute(consulta)
            datos = self.cursor.fetchall()
            datos = pd.DataFrame(datos)
            return datos
            
        except Exception as e:
            raise

### Instanciamos la clase anterior

In [30]:
db = DataBase()

Conección establecida con éxito

### Se realiza la consulta a la base de datos

In [31]:
sql = 'Select * from personas'
df_personas = db.consulta(sql)

In [32]:
df_personas

     0                                1                      2           3
0    1                JUAN PEREZ GARCIA       juan@hotmail.com  4921301447
1    2  MANUEL ALBERTO MARTINEZ SANCHEZ     manuel@hotmail.com  4923567884
2    3        JESUS DE LA CUEVA RODARTE      jesus@hotmail.com  4921345678
3    4        JOSE LUIS MONTEZ QUIŃONES  jose luis@hotmail.com  4748456789
4    5          GILBERTO ESPARZA TORRES   gilberto@hotmail.com  4935405678
5    6             ARACELI ORTIZ PINEDO     chelis@live.com.mx  4935495778
6    7          BERNARDO FUENTES CORREA        berna@gmail.com  4445666732
7    8               ANDRES PEREZ LOPEZ        ameza@yahoo.com  4445564732
8    9         LUZ ELENA GONZALES MARES        luci@zac.gob.mx  4445564736
9   10     MA. REFUGIO TINAJERO SANCHEZ      maref@hotmail.com  4935405578
10  11       JUANITA DE LA ROSA SANDATE       juanis@gmail.com  4748455789